<html>
    <head>
        <title>Saveikaites blogas</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Saveikaites blogas</a></h1>
        </div>

        <div>
            <p>published: 18.11.2018, 12:14</p>
            <h2><a href="">Mano pirmas postas</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 19.11.2018, 12:14</p>
            <h2><a href="">Mano antras postas</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
